<div class="d-flex flex-row-reverse">
    <button class="btn btn-outline-primary" [routerLink]="['/trainee-biodata/sailor-biodata-tab/main-tab-layout/', Payload.TraineeId]">
        View
    </button>
    <button class="btn btn-outline-primary">
        Change Role
    </button>
    <button class="btn btn-outline-danger">
        Reset Password
    </button>
</div>

<hr>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="d-flex justify-content-center">

    </div>
  </div>
</div>