<div mat-dialog-title style="font-size: 12px">
  <mat-form-field style="width: 70%" appearance="outline">
    <button matPrefix disabled="true" mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
    <input
      style="font-size: 18px"
      type="text"
      matInput
      name="search"
      [(ngModel)]="searchText"
      (input)="onSearch(true)"
      placeholder="Search Trainee, Instructor, or Course"
    />
  </mat-form-field>
  <hr />
</div>
<mat-dialog-content
  style="max-width: 60vw; min-width: 60vw; min-height: 50vh"
  class="mat-typography"
>
  <h2>Search Result</h2>

  <mat-accordion *ngIf="searchResults!=null">
    <app-search-detail *ngFor="let data of searchResults.results" [Payload]="data">

    </app-search-detail>
  </mat-accordion>

  <div *ngIf="searchResults!=null&&searchResults.results.length<=0" class="d-flex justify-content-center align-items-center" style="height: 100%;">
      <h1 class="fw-bold text-muted">No Result Found</h1>
  </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <mat-paginator
    [length]="totalResult"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="updatePage($event)"
    [pageIndex]="pageIndex - 1"
    aria-label="Select page"
  >
  </mat-paginator>
</mat-dialog-actions>
