<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">{{pageTitle}}</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;"> Bna Attendance</a>
              </li>
              <li class="breadcrumb-item active">{{destination}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
            </div>
            <div class="body">
                <form class="m-4" [formGroup]="BnaAttendanceForm">
                    <div class="row">
                      <div class="form-border-design col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        
                      </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                          <!-- <button class="btn-space" [class.auth-spinner]="loading" [disabled]="loading" [disabled]="!AttendanceForm.valid " mat-raised-button
                            color="primary">{{buttonText}}</button> -->
                            <button class="btn-space"  mat-raised-button color="warn" routerLink="/admin/dashboard/school-dashboard"> 
                        <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                        </button>
                        </div>
                      </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>