<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">{{pageTitle}}</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;"> Bna Attendance</a>
            </li>
            <li class="breadcrumb-item active">{{destination}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="BnaAttendanceForm" (ngSubmit)="onSubmit()">
              <div class="form-border-design mb-2">
                <div class="row">


                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-3">
                    <ng-multiselect-dropdown required formControlName="bnaSubjectCurriculumId"
                      [placeholder]="'BNA Subject Curriculum'" [data]="bnaSubjectCurriculum"
                      [settings]="routinManagementdropdownSettingsSingle"
                      (onSelect)="onBnaSubjectCurriculumStatus($event)"
                      (onDeSelect)="onBnaSubjectCurriculumDeSelect($event)">
                    </ng-multiselect-dropdown>
                  </div>


                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-3">
                    <ng-multiselect-dropdown required formControlName="courseTitleId" [placeholder]="'Course Title'"
                      [data]="courseTitle" [settings]="routinManagementdropdownSettingsSingle"
                      (onSelect)="onCourseTitleStatus($event)" (onDeSelect)="onCourseTitleDeSelect($event)">
                    </ng-multiselect-dropdown>
                  </div>


                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-3">
                    <ng-multiselect-dropdown required formControlName="bnaSemesterId" [placeholder]="'Semester'"
                      [data]="bnaSemester" [settings]="routinManagementdropdownSettingsSingle"
                      (onSelect)="onBnaSemesterStatus($event)" (onDeSelect)="onBnaSemesterDeSelect($event)">
                    </ng-multiselect-dropdown>
                  </div>


                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-3">
                    <ng-multiselect-dropdown required formControlName="courseSectionId" [placeholder]="'Course Section'"
                      [data]="courseSection" [settings]="routinManagementdropdownSettingsSingle"
                      (onSelect)="onCourseSectionStatus($event)" (onDeSelect)="onCourseSectionDeSelect($event)">
                    </ng-multiselect-dropdown>
                  </div>



                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-3">
                    <ng-multiselect-dropdown required formControlName="classPeriodId" [placeholder]="'Class Period'"
                      [data]="classPeriod" [settings]="routinManagementdropdownSettingsSingle"
                      (onSelect)="onClassPeriodStatus($event)" (onDeSelect)="onClassPeriodDeSelect($event)">
                    </ng-multiselect-dropdown>
                  </div>

                  <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>BNA Subject Curriculam</mat-label>
                      <mat-select formControlName="bnaSubjectCurriculamId" required>
                        <mat-option value="0">--Select--</mat-option>
                        <mat-option *ngFor="let semester of bnaSubjectCurriculam" [value]="semester.value" (onSelectionChange)="onBnaSubjectCurriculamChangeGet(semester)">
                          {{semester.text}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="BNASemesterDurationForm.get('bnaSubjectCurriculamId').hasError('required')">
                                BNA Subject Curriculam Is Required!
                              </mat-error>
                    </mat-form-field>
                  </div>


                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Course Title</mat-label>
                      <mat-select formControlName="bnaSubjectCurriculamId" required>
                        <mat-option value="0">--Select--</mat-option>
                        <mat-option *ngFor="let semester of courseTitle" [value]="semester.value">
                          {{semester.text}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="BNASemesterDurationForm.get('bnaSubjectCurriculamId').hasError('required')">
                                BNA Subject Curriculam Is Required!
                              </mat-error>
                    </mat-form-field>
                  </div>


                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Semester</mat-label>
                      <mat-select formControlName="bnaSubjectCurriculamId" required>
                        <mat-option value="0">--Select--</mat-option>
                        <mat-option *ngFor="let semester of bnaSemester" [value]="semester.value">
                          {{semester.text}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="BNASemesterDurationForm.get('bnaSubjectCurriculamId').hasError('required')">
                                BNA Subject Curriculam Is Required!
                              </mat-error>
                    </mat-form-field>
                  </div>


                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Course Section</mat-label>
                      <mat-select formControlName="bnaSubjectCurriculamId" required>
                        <mat-option value="0">--Select--</mat-option>
                        <mat-option *ngFor="let semester of courseSection" [value]="semester.value">
                          {{semester.text}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="BNASemesterDurationForm.get('bnaSubjectCurriculamId').hasError('required')">
                                BNA Subject Curriculam Is Required!
                              </mat-error>
                    </mat-form-field>
                  </div>


                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Class Period</mat-label>
                      <mat-select formControlName="bnaSubjectCurriculamId" required>
                        <mat-option value="0">--Select--</mat-option>
                        <mat-option *ngFor="let semester of classPeriod" [value]="semester.value">
                          {{semester.text}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="BNASemesterDurationForm.get('bnaSubjectCurriculamId').hasError('required')">
                                BNA Subject Curriculam Is Required!
                              </mat-error>
                    </mat-form-field>
                  </div> -->


                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Date</mat-label>
                      <input matInput [matDatepicker]="datepicker" required formControlName="date"
                        (dateChange)="onDateSelectionChange($event)">
                      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                      <mat-datepicker #datepicker></mat-datepicker>
                    </mat-form-field>
                  </div>


                </div>
              </div>

              <div class="card mt-2" [hidden]="isShownForTraineeList == false">
                <div class="header">
                </div>
                <div class="body">
                  <div class="col-md-12">
                    <div class="d-flex justify-content-between mb-3">
                      <div>
                        <b>Subject Name : </b>{{subjectName}}
                      </div>
                      <div>
                        <b>Instructor Name : </b>{{instructorName}}
                      </div>
                    </div>
                    <div class="smart-table-container">
                      <table class="table table-secondary table-hover table-bordered">
                        <thead>
                          <tr>
                            <th>SL</th>
                            <th>Trainee Name</th>
                            <th>Attendance</th>
                            <th>Remark</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            *ngFor="let unit of BnaAttendanceForm.get('studentAttendanceForm')['controls']; let i = index"
                            [formGroup]="unit">
                            <th>{{i+1}}</th>
                            <td>{{getControlLabel(i,'traineeName')}}</td>
                            <td><input type="checkbox" formControlName="attendance"></td>
                            <td><input type="text" formControlName="remark"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button class="btn-space" mat-raised-button color="warn"
                    routerLink="/admin/dashboard/school-dashboard">
                    <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                  </button>
                  <button class="btn-space" [class.auth-spinner]="loading" [disabled]="loading" mat-raised-button
                    color="primary" [hidden]="isShownForTraineeList == false">{{buttonText}}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>