 th{
    background-color: red;
    color: white;
    padding: 5px;
  }
  td{
    border: 1px solid gray;
    
  }
  .force-type{
    background-color:#ebd5d5;
    font-size: 16px;
    width: 30px;
  }
