<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Organization Name</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a [routerLink]="sharedService.redirectDashboard()"><i class="fas fa-home"></i></a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Organization Name</a>
            </li>
            <li class="breadcrumb-item active">All</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="responsive_table">
              <div class="materialTableHeader">
                <div class="row">
                  <div class="col-8">
                    <ul class="header-buttons-left ml-0">
                      <li class="dropdown">
                        <h2>
                          <strong><!--occupation--></strong></h2>
                      </li>

                      <li class="dropdown">
                        <input placeholder="Search" type="text" [(ngModel)]="searchText"  #filter class="browser-default search-field"
                        aria-label="Search box">
                      </li>
                      <li> 
                        <div class="icon-button-demo m-l-10">
                          <button mat-mini-fab color="accent" (click)="applyFilter(searchText)">
                            <mat-icon class="col-white">search</mat-icon>
                          </button>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-4">
                    <ul class="header-buttons">
                      <li>
                        <div class="icon-button-demo">
                          <button class="btn-space" mat-raised-button
                           color="primary" routerLink="/inter-service/add-organizationname">Add
                            <mat-icon class="col-white">add</mat-icon>
                          </button>
                        </div>
                      </li>
                      <li>
                        
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- <mat-accordion *ngIf="!isLoading">
                <mat-expansion-panel *ngFor="let group of groupArrays">
     
                  <mat-table [dataSource]="group.organization" class="mat-elevation-z8">
                  
                    <ng-container matColumnDef="sl">
                      <mat-header-cell *matHeaderCellDef> Ser. </mat-header-cell>
                      <mat-cell *matCellDef="let element; let i = index;">
                        {{ i + 1 }}
                      </mat-cell>
                    </ng-container>
                    
                    <ng-container matColumnDef="forceType">
                      <mat-header-cell *matHeaderCellDef> Force Type </mat-header-cell>
                      <mat-cell *matCellDef="let element"  [attr.rowspan]="element.rowspan"> {{ element.forceType }} </mat-cell>
                    </ng-container>
                 
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef> Organization Name </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
                    </ng-container>
              
                     <ng-container matColumnDef="actions">
                      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        <button mat-icon-button color="primary" class="btn-tbl-edit"
                                [routerLink]="['/inter-service/update-organizationname', element.organizationNameId]">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" class="btn-tbl-delete" (click)="deleteItem(element)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </mat-cell>
                    </ng-container>
              
                    <mat-header-row *matHeaderRowDef="['sl','forceType', 'name',  'actions']"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: ['sl','forceType', 'name',  'actions']"></mat-row>
                  </mat-table>
                </mat-expansion-panel>
              </mat-accordion>
              
              
              <div *ngIf="isLoading" class="loading-spinner">
                <mat-spinner></mat-spinner>
              </div> -->
              <table *ngIf="!isLoading" class="mat-elevation-z8">
                <thead>
                  <tr>
                    <th>Force Type</th>
                    <th>Organization Name</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let group of groupArrays">
                    <ng-container *ngFor="let element of group.organization; let i = index">
                      <tr>
                        <td class="force-type" *ngIf="shouldDisplayRowspan(group.organization, element, i)" 
                            [attr.rowspan]="getRowspan(group.organization, element.forceType)">
                          {{ element.forceType }}
                        </td>
                        <td>{{ element.name }}</td>
                        <td>
                          <button mat-icon-button color="primary" class="btn-tbl-edit"
                                  [routerLink]="['/inter-service/update-organizationname', element.organizationNameId]">
                            <mat-icon>edit</mat-icon>
                          </button>
                          <button mat-icon-button color="warn" class="btn-tbl-delete" (click)="deleteItem(element)">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </td>
                      </tr>
                    </ng-container>
                  </ng-container>

                 
                </tbody>
              </table>
              
              <!-- <mat-accordion *ngIf="!isLoading">
                <mat-expansion-panel *ngFor="let group of groupArrays">
                 
             
              
                
                  <mat-table [dataSource]="group.organization" class="mat-elevation-z8">

                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef> Organization Name </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
                    </ng-container>
              
                    
                    <ng-container matColumnDef="forceType">
                      <mat-header-cell *matHeaderCellDef> Force Type </mat-header-cell>
                      <mat-cell *matCellDef="let element; let i = index;">
                        <ng-container *ngIf="shouldDisplayRowspan(group.organization, element, i)">
                          <span [attr.rowspan]="getRowspan(group.organization, element.forceType)">
                            {{ element.forceType }}
                          </span>
                        </ng-container>
                      </mat-cell>
                    </ng-container>
              
                    
                    <ng-container matColumnDef="actions">
                      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        <button mat-icon-button color="primary" class="btn-tbl-edit"
                                [routerLink]="['/inter-service/update-organizationname', element.organizationNameId]">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" class="btn-tbl-delete" (click)="deleteItem(element)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </mat-cell>
                    </ng-container>
              
                    <mat-header-row *matHeaderRowDef="['forceType', 'name',  'actions']"></mat-header-row>
                   
                    <mat-row *matRowDef="let row; columns: ['forceType', 'name',  'actions']"></mat-row>
                  </mat-table>
                </mat-expansion-panel>
              </mat-accordion> -->
              
             
              <div *ngIf="isLoading" class="loading-spinner">
                <mat-spinner></mat-spinner>
              </div>
              
              <!-- <mat-paginator [length]="paging.length" [showFirstLastButtons]="masterData.paging.showFirstLastButtons"
                [pageSize]="paging.pageSize" [pageSizeOptions]="masterData.paging.pageSizeOptions"
                (page)="pageChanged($event)">
                </mat-paginator> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





 