<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item"> 
                <h4 class="page-title">{{pageTitle}}</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a [routerLink]="sharedService.redirectDashboard()"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">BNA Assignment Mark</a>
              </li>
              <!-- <li class="breadcrumb-item active">{{destination}}</li> -->
              <li class="breadcrumb-item active">Add</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12"> 
          <div class="card">
            <div class="header">
            </div>
            <div class="body">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

