.role-button{
    background-color: white;
    padding: 10px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 10px;
    width: 800px;
}
.custom-table {
    width: 100%;
    border-collapse: collapse;
  }
  p{
    margin: 5px;
    font-size: 18px;
  }
  
  .custom-table th,
  .custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .custom-table th {
    background-color: #007bff;
    color: white;
  }
  