<section class="content">
  <div class="containet-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Add Budget</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Add Budget</a>
            </li>
            <li class="breadcrumb-item active">All</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="body">
            <form class="mb-4" [formGroup]="BudgetAllocationForm" (ngSubmit)="onSubmit()">
              <div class="row clearfix">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Fiscal Year</mat-label>                        
                      <mat-select formControlName="fiscalYearId">
                        <input type="text" 
                    style="width:100%;height:50px;padding:10px; border: 1px solid white;"
                      id="selectFiscalYear"
                      (keydown.space)="$event.stopPropagation()"
                      (input)="($event.target.value)"
                      placeholder="Search">
                        <mat-option  value="0">--Select--</mat-option >
                          <mat-option (onSelectionChange)="onFiscalYearSelectionChange($event)" *ngFor="let dropdown of selectedFiscalYear" [value]="dropdown.value">
                              {{dropdown.text}} 
                            </mat-option>                          
                      </mat-select>
                  </mat-form-field>
                </div>
    
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Amount</mat-label>                        
                    <input matInput formControlName="amount" required>
                    
                  </mat-form-field>
                </div>
    
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Budget Type</mat-label>                        
                      <mat-select formControlName="budgetTypeId">
                        <input type="text" 
                        style="width:100%;height:50px;padding:10px; border: 1px solid white;"
                          id="budgetTypeId"
                          (keydown.space)="$event.stopPropagation()"
                          (input)="($event.target.value)"
                          placeholder="Search" required>
                        <mat-option  value="0">--Select--</mat-option >
                          <mat-option *ngFor="let dropdown of selectedBudgetType" [value]="dropdown.value">
                              {{dropdown.text}} 
                            </mat-option>                          
                      </mat-select>
                  </mat-form-field>
                </div>
    
               
        <h4>Budget Head</h4>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Budget Head</mat-label>                        
              <mat-select formControlName="budgetCodeId">
                <input type="number" 
                style="width:100%;height:50px;padding:10px; border: 1px solid white;"
                  id="budgetCodeId"
                  (keydown.space)="$event.stopPropagation()"
                  (input)="($event.target.value)"
                  placeholder="Search" required>
                <mat-option  value="0">--Select--</mat-option >
                  <mat-option [value]=7>
                      Foreign Training
                    </mat-option> 
                    <mat-option [value]=8>
                      Local Training
                    </mat-option>                          
              </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <button class="btn-space" [class.auth-spinner]="loading" [disabled]="loading" [disabled]="!BudgetAllocationForm.valid " mat-raised-button
              color="primary">{{buttonText}}</button>
          <!-- <button type="button" mat-button routerLink="/budget-management/budgetallocation-list">Cancel</button> -->
        </div>
        
      </div>
             
              <!-- <button class="btn-space" [class.auth-spinner]="loading" [disabled]="loading" [disabled]="!BudgetAllocationForm.valid " mat-raised-button
                            color="primary">{{buttonText}}</button> -->
            </form>
          </div>
        </div>
       
      </div>
      
    </div>
  </div>
</section>