.mat-header-cell.ser-col,
.mat-cell.ser-col {
  max-width: 100px !important;
  text-align: left !important;
  padding: 0px 7px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  /* background-color: aquamarine !important; */
}
.mat-header-cell.ser-col,
.mat-cell.sub-col {
  text-align: left !important;
}


  